<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Top画面</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"
        href="http://fonts.googleapis.com/css?family=Exo:900"/>
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
</head>
<body>

<nav th:insert="/header.html :: header"></nav>
  <div class="ui main container">
    <div class="text-center">
      <br>
      <h2>申し込みが完了しました。</h2>
      <p>お電話にて正式な見積もりをさせて頂きます。</p>
      <br>
      <img src="https://4.bp.blogspot.com/--SPwn3C0-QA/VY4WWXFDqzI/AAAAAAAAupA/lbSGGYJfq3w/s800/aisatsu_boushi_nimotsu.png" width="200px">
      <br>
    </div>
    <form th:action="@{/submit}" class="form-horizontal" method="post">
      <div class="form-group">
        <div class="text-center">
          <button type="submit" name="backToTop" class="btn btn-primary">TOPへ戻る</button>
        </div>
      </div>
    </form>
  </div>
<script src="../js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>